*.iml
.gradle
/local.properties
/.idea/libraries
/.idea
/gradlew
/gradlew.bat
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle.properties
gradle/
settings.gradle
